<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header class="header" th:fragment="header"> 
            <h1>Daily pixels</h1>
        </header>
        <nav style="right: 0; position: absolute;" th:fragment="menu">
            <ul style=" list-style: none; display:  flex;    padding: 0; float: left; position: relative;">
                <li class="nav-menu-item"><a style="color: white;text-decoration: none;" href="Pagina2.html">Foros </a></li>
                <li class="nav-menu-item"><a style="color: white;text-decoration: none;" href="Pagina2.html">Noticias </a></li>
                <li class="nav-menu-item"><a style="color: white;text-decoration: none;" href="Pagina2.html">Iniciar sesion </a></li>
                <li class="nav-menu-item"><a style="color: white;text-decoration: none;" 
                 href="Pagina2.html"> <img src="images/usuario.png" alt=""/> </a></li>
                
            </ul>
        </nav>       
        <footer style="background-color: #f7f7f7;
                bottom:0%;
                left:0%;
                height:10% ;
                width:100%;
                color: black;
                text-align: center;"  th:fragment="footer">
            &COPY; Derechos Reservados 2022
        </footer>         
    </body>
</html>
