<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <link href="estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header style=" background-color: #33128d;
                height: 80px;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                text-align: left;
                color: white;
                " th:fragment="header"> 

            <h1>Daily pixels</h1>
        </header>
        <nav style="right: 0; position: absolute;" th:fragment="menu">
            <ul style=" list-style: none; display:  flex;    padding: 0; float: left; position: relative;">
                <li style=" float: left; position: relative; right: 0;font-weight: bold;font-size: 18px;padding: 20px 20px;box-shadow: 10px 0px 0px -8px red;"><a style="color: white;text-decoration: none;" href="Pagina2.html">Foros </a></li>
                <li style=" float: left; position: relative; right: 0;font-weight: bold;font-size: 18px;padding: 20px 20px;box-shadow: 10px 0px 0px -8px red;"><a style="color: white;text-decoration: none;" href="Pagina2.html">Noticias </a></li>
                <li style=" float: left; position: relative; right: 0;font-weight: bold;font-size: 18px;padding: 20px 20px;box-shadow: 10px 0px 0px -8px red;"><a style="color: white;text-decoration: none;" href="Pagina2.html">iniciar sesion </a></li>
                <li style=" float: left; position: relative; right: 0;font-weight: bold;font-size: 18px;padding: 20px 20px;box-shadow: 10px 0px 0px -8px red;"><a style="color: white;text-decoration: none;" 
                href="Pagina2.html"> <img src="Imagenes/436-4363443_view-user-icon-png-font-awesome-user-circle.png" alt="imagen"/></a></li>
            </ul>
        </nav>
        <footer style="background-color: #f7f7f7;
                bottom:0%;
                left:0%;
                height:10% ;
                width:100%;
                color: black;
                text-align: center;"  th:fragment="footer">
            &COPY; Derechos Reservados 2022
        </footer>         
    </body>
</html>
