.header {
    background-color: #B9ACFA;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-menu-item {
    float: left;
    position: relative;
    right: 0;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px;
}

.piePagina{
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 5%;
    width: 100%;
    background-color: #B9ACFA;
    color: #D0F562;
    overflow: auto;
    text-align: center;
}


.imagenTitulo{
    left: 0;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 5px;
    float: left;
}
.titulo{
    padding: 15px 10px;
    margin: 5px auto;
    text-align: left;
    color: black;
}

.nav-link{
    alignment-adjust: auto;
    color: black;
    text-decoration: none;
}

.nav{
    list-style: none; 
    display:  flex;    
    padding: 0; 
    float: left; 
    position: relative;

}

.link{
  text-decoration: none;
}

.contenido {
    position: fixed;
    top: 6.7%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #5A49AD;
    color: black;
    overflow: auto;
   
}

.descripcion {
    font-size: 24px;
}

.tamaño {
    font-size: 40px;
}

.descripcion {
    font-size: 24px;
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}