.header {
    background-color: #B9ACFA;
    height: 80px;
    display:  flex;
    width: 100%;
    font-family: arial;
    margin: auto;
}
* {

    margin: 0;
    box-sizing: border-box;
}
.piePagina{
    height: 50px;
    width: 100%;
    background-color: #B9ACFA;
    color: #D0F562;
    text-align: center;
    margin-bottom: 0px;
}
.imagenTitulo{
    left: 0;
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    float: left;
}
.titulo{
    width: 15%;
    padding: 22px;
    padding-right: 0;
    padding-left: 0;
    margin: 0px;
    color: black;
    margin-right:  12%;
}
.nav{
    margin-top: 20px;
    margin-left: 20%;
}
.nav-link{
    alignment-adjust: auto;
    color: black;
    text-decoration: none;
}
.nav-menu{
    list-style: none;
    display: flex;
    padding:0;
}
.nav-menu-item {
    right: 0;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    font-size: 17px;
}
.link{
    text-decoration: none;
}
.descripcionformulario{
    font-size: 24px;
}
.tamaño {
    font-size: 40px;
}
.descripcion {
    font-size: 24px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
}
.body{
    background-color: #5A49AD;

}
.formulario{
    margin-top: 40px;
    width:440px;
    height:540px;
    background:#B9ACFA;
    border-radius:9px;
    box-shadow:0 0 50px -20px #000;
    margin:calc(44.2vh - 230px) auto;
    padding:20px 40px;
    max-width:calc(200vw - 50px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;

}
input:focus{
    border-bottom:2px solid #78788c;
}
.tituloForm{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:  #5c5c5c;
    border-bottom:3px solid #78788c;
}
input{
    margin-bottom: 10px;
    width:100%;
    padding:7px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #fff;
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    border-radius: 40px;
}
button:hover{
    background:#78788c;
    color:#fff;
}

textArea{
    width: 100%;
}

.titular{
    margin-top: 40px;
    text-align: center;
    font-family: arial;
    margin-bottom: 20px;
    font-size: 40px;
}

.tablota {
    margin:calc(60.2vh - 90px) auto;
    padding:10px 40px;
    box-shadow:0 0 50px -20px #000;
    box-sizing:border-box;
    background:#B9ACFA;
    font-family: arial;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-top: 40px;
    border-radius: 40px;
}

.tablotaPerfil{
    margin:calc(60.2vh - 90px) auto;
    padding: 39px 57px;
    left: 50%;
    right: 0%;
    box-shadow:0 0 50px -20px #000;
    box-sizing:border-box;
    background:#B9ACFA;
    font-family: arial;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-top: 40px;
    border-radius: 40px;
}

.tablotaPerfil div{
    position: relative;
    width: inherit;
}
.tablotaPerfil #img{
    color: #ccff66;
    position: absolute;
    top: 21%;
    right: 30%;
}
.newnew {
    border: 1px solid #2e518b;
    padding: 5px;
    background-color: #B9ACFA;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    border-radius: 50px;
}
.DCLIENTE{
    width:640px;
    height:740px;
    background:#B9ACFA;
    border-radius:10px;
    box-shadow:0 0 70px -40px #000;
    margin:calc(30.2vh - 200px) auto;
    padding:40px 60px;
    max-width:calc(200vw - 50px);
    box-sizing:border-box;
    font-family: Arial;
    position:relative;

}
.contenido {
    top: 6.7%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #5A49AD;
    color: black;
    overflow: auto;
}
.titulo_seccion{
    padding: 10px 0px 50px 250px;
    color: #82FAE4;
    font-size: 23px;
    font-family:'Montserrat',sans-serif;
}

/*Seccion de noticias*/
.noticia{
    width:70%;
    height:200px;
    border-style: solid;
    border-color: #82FAE4;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    max-width:calc(200vw - 50px);
    font-family:'Montserrat',sans-serif;
    position:relative;
    display: flex;
}
.figura{
    text-align: center;
    width:40%;
    background:#B9ACFA;
    border-radius:9px;
    box-shadow:0 0 50px -20px #000;
    padding:0;
    max-width:calc(200vw - 50px);
    float: right;
    transition:all .3s;
}
.resumen{
    width: 60%;
    padding: 20px;
    padding-right:10px;
    text-align: left;
    color: black;
}

.figura:hover{
    transform:scale(1.25);
}

/*barra de busqueda*/
.barraBusquedas--cajaBusqueda {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0;
    position: relative;
}
.barraBusqueda--form {
    position: relative;
}
.barraBusqueda--input-cajaBusqueda {
    padding: 0 66px 0 0;
}
.barraBusqueda--input {
    width: 100%;
    background-color: white;
}
.barraBusqueda {
    padding: 45px 350px 0px 350px;
}
.barraBusqueda--input {
    box-sizing: content-box;
    height: 30px;
    padding: 0 10px 0px 46px;
    border-radius: 35px;
    color: #000;
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    margin-bottom: 0;
    border: 0;
}
.input-icon  {
    position: absolute;
    right: 0;
    padding: 0;
    border: 0;
    margin-right: 5px;
    margin-bottom: 0;
    color:  #000;
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/*Adentro de la noticia*/
.banner--noticia {
    margin:40% auto;
    padding:10px 40px;
    box-shadow:0 0 50px -20px #000;
    box-sizing:border-box;
    background:#B9ACFA;
    font-family: arial;
    width: 70%;
    height: 60%;
    margin-top: 40px;
    border-radius: 40px;
}
.titulo--noticia{
    margin:10px 0;
    padding-bottom:10px;
    color:  #D0F562;
    font-size: 30px;
    margin-left: 230px;
}
.contenido--noticia{
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 23px;
}
.imagen--noticia{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 45%;
    height: 70%;
    border-radius: 20px;
}
.fecha--noticia{
    margin:10px 0;
    padding-top:10px;
    padding-bottom:20px;
    color:  #D0F562;
    font-size: 20px;
    margin-left: 20px;
}




/*barra de comentario*/
.barraComentario--cajaComentario {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0;
    position: relative;
}
.barraComentario--form {
    position: relative;
}
.barraComentario--input-cajaComentario {
    padding: 0 66px 0 0;
}
.barraComentario--input {
    width: 100%;
    background-color: white;
}
.barraComentario {
    padding: 10px 400px 0px 350px;
}
.barraComentario--input {
    box-sizing: content-box;
    height: 30px;
    padding: 0 10px 0px 46px;
    border-radius: 35px;
    color: #000;
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    margin-bottom: 0;
    border: 0;
}
.input-iconPencil  {
    position: absolute;
    right: 0;
    padding: 0;
    border: 0;
    margin-right: 5px;
    margin-bottom: 0;
    color:  #000;
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
    width: 30px;
    height: 30px;
    left: 9px;
    top: 60%;
    transform: translateY(-50%);
}
.tituloComentario{
    margin:10px 0;
    padding-bottom:10px;
    color:  #D0F562;
    font-size: 30px;
}

/*sección de comentarios*/
.lineas--comentario{
    width:100%;
    height:auto;
    border-style: solid;
    border-color: #82FAE4;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Montserrat',sans-serif;
    position:relative;
}
.tabla--comentario{
    padding:10px 40px;
    box-shadow:0 0 50px -20px #000;
    box-sizing:border-box;
    background:#B9ACFA;
    font-family: 'Montserrat',sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 10px;
    border-radius: 40px;
    position: relative;
}

.imagenUsuario--comentario{
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
}

.colorVerde{
    color:  #D0F562;
}
.colorCeleste{
    color: #82FAE4;
    margin-bottom: 5px;
}