<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <nav th:replace="layout/plantilla :: menu"></nav>
        <br>
        <br>
        <br> 
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
