<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Listar</title>
        <meta charset="UTF-8">           
        <link href="../css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
<header th:replace="layout/plantilla :: header"></header>
        
       <section class="contenido">
        <br>

          <h1 class="titular">Clientes desde una lista de base de datos</h1>
        <br>
            <article class="descripcion">
        <a class="newnew" th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <a th:href="@{/cliente/ReporteClientes}" class="newnew">Reporte</a> 
        
        <br>
        <div th:if="${clientesDB != null and !clientesDB.empty}">
            <table class="tablota" border="3">
                <tr>
                    <td bgcolor="82FAE4">Nombre</td>
                    <td bgcolor="82FAE4">Apellidos</td>
                    <td bgcolor="82FAE4">Correo</td>
                    <td bgcolor="82FAE4">Contraseña</td>
                    <td bgcolor="82FAE4">Estado</td>
                    <td bgcolor="82FAE4">Modificar</td>
                    <td bgcolor="82FAE4">Eliminar</td>          
                </tr>
                
                <tr th:each="item : ${clientesDB}">
                    <td th:text="${item.nombre}"></td>
                    <td th:text="${item.apellidos}"></td>
                    <td th:text="${item.correo}"></td>
                    <td th:text="${item.password}"></td>
                    <td th:text="${item.estado}"></td>  
                    <td bgcolor="D0F562"><a th:href="@{/modificarCliente/} + ${item.idcliente}">Modificar</a></td>
                    <td bgcolor="D0F562"><a th:href="@{/eliminarCliente/} + ${item.idcliente}">Eliminar</a></td>
                </tr>
                
            </table>
             
            <!-- <img src="/images/met.gif" alt=""/> -->
            </div>
             <div th:if="${clientesDB == null or clientesDB.empty}">
            La lista de clientes está vacia
        </div>            
                                   
    </body>
            </article>
            </section>
       
   <footer th:replace="layout/plantilla :: footer"></footer>
</html>