<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Daily pixels</title>
        <meta charset="UTF-8">
            <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section class="contenido">
            <div class="barraBusqueda">
                <div class="barraBusquedas--cajaBusqueda">
                    <form class="barraBusqueda--form" action="#" method="post">
                        <div class="barraBusqueda--input-cajaBusqueda">
                            <input class="barraBusqueda--input" type="search">
                                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                        </div>
                    </form>
                </div>
            </div>
            <h3 class="titulo_seccion">Noticias</h3>
            <article class="noticia"  style="border-top: 3px;border-top-style: solid; border-top-color:#82FAE4" > 
                <p class="resumen">Suspendisse taciti augue euismod sodales lobortis aenean sed, duis proin est cursus tortor sapien cubiliad nisi lobortis consequat, platea conubia viverra tempus augue pulvinar sem ultricies.</p>
                <figure class="figura">
                    <a th:href="noticias">
                    <img src="/images/News.jpg" alt="noticia"  width="100%" height="100%" />
                    </a>
                </figure>
            </article>
            <article class="noticia">
                <p class="resumen">Suspendisse taciti augue euismod sodales lobortis aenean sed, duis proin est cursus tortor sapien cubiliad nisi lobortis consequat, platea conubia viverra tempus augue pulvinar sem ultricies.</p>
                <figure class="figura">
                    <a th:href="noticias">
                    <img src="/images/News.jpg" alt="noticia"  width="100%" height="100%" />
                    </a>
                </figure>
            </article>
            <article class="noticia">
                <p class="resumen">Suspendisse taciti augue euismod sodales lobortis aenean sed, duis proin est cursus tortor sapien cubiliad nisi lobortis consequat, platea conubia viverra tempus augue pulvinar sem ultricies.</p>
                <figure class="figura">
                    <a th:href="noticias">
                    <img src="/images/News.jpg" alt="noticia"  width="100%" height="100%" />
                    </a>
                </figure>
            </article>
            <article class="noticia">
                <p class="resumen">Suspendisse taciti augue euismod sodales lobortis aenean sed, duis proin est cursus tortor sapien cubiliad nisi lobortis consequat, platea conubia viverra tempus augue pulvinar sem ultricies.</p>
               <figure class="figura">
                    <a th:href="noticias">
                    <img src="/images/News.jpg" alt="noticia"  width="100%" height="100%" />
                    </a>
                </figure>
            </article>
        </section>
        <footer th:replace="layout/plantilla :: footer"></footer>                     
    </body>
</html>
