<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nuevo Cliente</title>
        <meta charset="UTF-8">           
        <link href="../css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="body">
 <header th:replace="layout/plantilla :: header"></header>
        <section class="DCLIENTE">
        <h2 class="titular">Datos del cliente</h2>
        <br>
        <article class="descripcionformulario">
        <a class="newnew" th:href="@{/listar}">Regresar</a>
        <br>
            <br>
        <form th:action="@{/guardarcliente}" method="post" th:object="${cliente}">
            <input type="hidden" name="idcliente" th:field="*{idcliente}"/>
            <input type="hidden" name="estado" th:field="*{estado}"/>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombre}" required minlength="4" maxlength="10" placeholder="Escriba aqui el nombre"/>
            <br>
            <label for="apellidos">Apellidos: </label>
            <input type="text" name="apellidos" th:field="*{apellidos}" required minlength="4" maxlength="20" placeholder="Escriba aqui el apellido completo"/>
            <br>
            <label for="correo">Correo: </label>
            <input type="email" name="correo" th:field="*{correo}" required minlength="6" maxlength="15" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="ejemplo@ejemplo.com"/>
            <br>
            <label for="password">Contraseña: </label>
            <input type="text" name="password" th:field="*{password}" required minlength="4" maxlength="20" placeholder="Escriba aqui su contraseña"/>
           <br>
                <select th:field="*{tipo}">
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                </select>
            <br>
                
            <button type="submit" name="guardar" value="Guardar Registro"> Guardar registro </button>
        </form>
        </article>
            </section>
      </body>
    <footer th:replace="layout/plantilla :: footer"></footer>
</html>

