<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="../css/estilos.css" rel="stylesheet" type="text/css"/>
                </head>
                <body class="body">
                    <header th:replace="layout/plantilla :: header"></header>

                    <div class="tablotaPerfil">
                        <div>
                            <h2 style="color:#ccff66">
                                Descripción del perfil
                            </h2>
                            <br>
                                <p>
                                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"  
                                </p>
                        </div>
                        <article id="img">
                            <h2>
                                Nombre del Usuario
                            </h2>
                            <br>
                                <br>
                                    <br>
                                        <img src="../images/OOjs_UI_icon_userAvatar.svg.png" alt="" width="200px" height="200px"/>
                                        </article>
                                        </div>



                                        <footer th:replace="layout/plantilla :: footer"></footer>
                                        </body>
                                        </html>
